<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="WidgetsDirector.ZPM">
<Module>
 <Name>WidgetsDirector</Name>
  <Version>1.1.0</Version>
  <Description>A sample IRIS Backend app to implement a REST API for a helpdesk</Description>
  <Keywords>sample</Keywords>
  <Packaging>module</Packaging>
  <SourcesRoot>src</SourcesRoot>
  <SystemRequirements Version=">=2023.1" Interoperability="enabled" />
  <Resource Name="WidgetsDirector.PKG" />
</Module>
</Document>
</Export>
